<h1><%= @course.course_name %></h1>

<table>
  <tr>
    <th>Attribute</th>
    <th>Value</th>
  </tr>
  <% [:course_date, :course_time, :max_size, :description].each do |attr_name| %>
    <tr>
      <td><%= attr_name %></td>
      <td><%= @course.send(attr_name) %></td>
    </tr>
  <% end %>
</table>
